In [3]:
# Pokemon Data Analysis Project

#This project analyzes the Pok√©mon dataset using Python and pandas. 
#We explore stats, types, strengths, weaknesses, and create summary reports.

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('pokemon_data.csv')
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [6]:
df.shape

(800, 12)

In [7]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [8]:
df.describe

<bound method NDFrame.describe of        #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]>

In [9]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [10]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [12]:
df.duplicated().sum()

np.int64(0)

In [14]:
df['Type 2'] = df['Type 2'].fillna('None')

In [15]:
df.isnull().sum()

#             0
Name          0
Type 1        0
Type 2        0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

In [13]:
df = df.drop_duplicates()

In [16]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df['Is_Fast'] = df['Speed'] > 100
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Is_Fast
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,False
4,4,Charmander,Fire,None,39,52,43,60,50,65,1,False,309,False

In [17]:
df.sort_values('Total', ascending=False).head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Is_Fast
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780,True
164,150,MewtwoMega Mewtwo Y,Psychic,None,106,150,70,194,120,140,1,True,780,True
422,382,KyogrePrimal Kyogre,Water,None,100,150,90,180,160,90,3,True,770,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770,False
552,493,Arceus,Normal,None,120,120,120,120,120,120,4,True,720,True
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True,700,True
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False,700,False
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,700,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700,True

In [18]:
df.groupby('Type 1')[['Attack', 'Defense', 'Speed', 'HP', 'Total']].mean()

              Attack     Defense       Speed         HP       Total
Type 1
Bug        70.971014   70.724638   61.681159  56.884058  378.927536
Dark       88.387097   70.225806   76.161290  66.806452  445.741935
Dragon    112.125000   86.375000   83.031250  83.312500  550.531250
Electric   69.090909   66.295455   84.500000  59.795455  443.409091
Fairy      61.529412   65.705882   48.588235  74.117647  413.176471
Fighting   96.777778   65.925926   66.074074  69.851852  416.444444
Fire       84.769231   67.769231   74.442308  69.903846  458.076923
Flying     78.750000   66.250000  102.500000  70.750000  485.000000
Ghost      73.781250   81.187500   64.343750  64.437500  439.562500
Grass      73.214286   70.800000   61.928571  67.271429  421.142857
Ground     95.750000   84.843750   63.906250  73.781250  437.500000
Ice        72.750000   71.416667   63.458333  72.000000  433.458333
Normal     73.469388   59.846939   71.551020  77.275510  401.683673
Poison     74.678571   68.821429   63.571429  67.250000  399.142857
Psychic    71.456140   67.684211   81.491228  70.631579  475.947368
Rock       92.863636  100.795455   55.909091  65.363636  453.750000
Steel      92.703704  126.370370   55.259259  65.222222  487.703704
Water      74.151786   72.946429   65.964286  72.062500  430.455357

In [19]:
df['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [20]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Is_Fast
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,False
4,4,Charmander,Fire,None,39,52,43,60,50,65,1,False,309,False

In [21]:
df.sort_values('Speed', ascending=False).head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Is_Fast
431,386,DeoxysSpeed Forme,Psychic,None,50,95,90,95,90,180,3,True,600,True
315,291,Ninjask,Bug,Flying,61,90,45,50,50,160,3,False,456,True
71,65,AlakazamMega Alakazam,Psychic,None,55,50,65,175,95,150,1,False,590,True
429,386,DeoxysAttack Forme,Psychic,None,50,180,20,180,20,150,3,True,600,True
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False,615,True
428,386,DeoxysNormal Forme,Psychic,None,50,150,50,150,50,150,3,True,600,True
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495,True
678,617,Accelgor,Bug,None,80,70,40,100,60,145,5,False,495,True
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False,630,True
109,101,Electrode,Electric,None,60,50,70,80,80,140,1,False,480,True

In [22]:
df.groupby('Generation')['Total'].mean()

Generation
1    426.813253
2    418.283019
3    436.225000
4    459.016529
5    434.987879
6    436.378049
Name: Total, dtype: float64

In [23]:
df.to_csv('cleaned_pokemon.csv', index=False)